.function-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-auto-rows: 120px;
    column-gap: 10px;
    row-gap: 10px;
    margin:12px;
}
.card{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow:  0px 0px 10px #b3b3b3;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}