.arrow-button{
    display: flex;
    position: absolute;
    z-index: 999;
    background: none;
    border:none;
    top: 50%;
    transform: translateY(-50%);
    padding:var(--arrow-button-size);
    margin:var(--arrow-button-margin);
    background-color: var(--arrow-button-background-color);
    cursor:pointer;
  }

  .arrow-icons {
    fill: var(--arrow-color);
  }
  
  .arrow-button.arrow-button-border{
    border:var(--arrow-button-border-size) solid var(--arrow-button-color) ;
    border-radius: var(--arrow-button-border-radius);
  }
  .arrow-button.left{
    align-items: center;  
  }
  .arrow-button.right{
    align-items: center;
    right:0;
  }