.carousel-wrapper{
  width:var(--width);
}

.image-card{
       width:100%;
       height: 100%;
       position:relative;
       scroll-behavior: smooth;
       border-radius: var(--borderRadius);
       overflow: hidden;   
}

.slides-card{
     display: flex;
 } 

.nav-card{
     display: flex;
     position: absolute;
     width:auto;
     z-index: 999;
}

/* Navigation position */
.nav-card.bottom{
  bottom: 0;
  justify-content: center;
  width:100%;
}
.nav-card.bottom-left{
  bottom: 0;
}
.nav-card.bottom-right{
  right: 0;
  bottom: 0;
}
.nav-card.top{
  top: 0;
  justify-content: center;
  width:100%;
}
.nav-card.top-left{
  
}
.nav-card.top-right{
  right: 0;
}
.nav-card.left{
  flex-direction: column;
  height:100%;
  justify-content: center;
}
.nav-card.left-top{
  flex-direction: column;
  top:0;
}
.nav-card.left-bottom{
  flex-direction: column;
  bottom:0;
}
.nav-card.right{
  right: 0;
  flex-direction: column;
  height:100%;
  justify-content: center;
}
.nav-card.right-top{
  right: 0;
  flex-direction: column;
  top:0
}
.nav-card.right-bottom{
  right: 0;
  flex-direction: column;
  bottom:0;
}


.control-card{
    padding:var(--dotSize);
    background-color: var(--dotColor);
    border: none;
    border-radius: var(--dotRadius);
    margin:var(--dotMargin);
}
.control-card.is-active{
  background-color: var(--dotColorActive);
}

.control-card:hover{
  background-color: var(--dotColorHover);
}
.control-card:focus{
  background-color: var(--dotColorHover);
}


.image-content {
  position: absolute;
  background-position: var(--background-position);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-duration: 0.4s;
}

.image-card.has-tear{
  mask-repeat: no-repeat repeat;
  -webkit-mask-repeat: no-repeat repeat;
}
.image-card.has-tear.is-aligned-left{
  mask-size: 100px 100%, calc(100% - 43px) 100%;
  -webkit-mask-size: 44px 100%, calc(100% - 43px) 100%;
  mask-position: left center , top right;
  -webkit-mask-position: left center ,  top right;
}
.image-card.has-tear.is-aligned-right{
  mask-size: 100px 100%, calc(100% - 43px) 100%;
  -webkit-mask-size: 44px 100%, calc(100% - 43px) 100%;
  mask-position: center right, top left;
  -webkit-mask-position:  center right ,  top left;
}
.image-card.has-tear.is-aligned-bottom{
  mask-size: auto 62px, 100% calc(100% - 60px);
  -webkit-mask-size: auto 62px, 100% calc(100% - 60px);
  mask-position: bottom center, top center;
  -webkit-mask-position: bottom center, top center;
  mask-repeat: repeat no-repeat;
  -webkit-mask-repeat: repeat no-repeat;
}
.image-card.has-tear.is-aligned-top{
  mask-size:auto 62px, 100% calc(100% - 60px);
  -webkit-mask-size: auto  62px, 100% calc(100% - 60px);
  mask-repeat: repeat no-repeat;
  -webkit-mask-repeat: repeat no-repeat;
  mask-position: center top, bottom center;
  -webkit-mask-position: center top,  bottom center;
}

.text {
  position: absolute;
  width: var(--textWidth);
  height: var(--textHeight);
  overflow-y: scroll;
}
.text-content {
  padding: var(--text-content-padding);
}
.text-content.flex{
  display: flex;
  flex-direction: var(--content-direction);
}
.text-content.grid{
  display: grid;
  grid-template-columns: repeat(var(--number-grid-columns), 1fr);
  column-gap:var(--grid-gap) ;
  row-gap: var(--grid-gap);
}
.txt-content{
  width:var(--text-content-width)
}
.txt-content.row{
  margin:0vw 1vw 0vw 0vw ;
}
.txt-content.column{
  margin:0vw 1vw 0vw 0vw ;
}
.html-content.row{
  margin:0vw 0vw 0vw 1vw;
}
.html-content.column{
  margin:1vw 0vw 0vw 0vw ;
}

.image-content.is-active-image {
  display: flex;
  transform: translateX(0);
}
.image-content:not(.is-active-image).is-right {
    display: flex;
    transform: translateX(100%);
}
.image-content:not(.is-active-image).is-left {
  display: flex;
  transform: translateX(-100%);
}
.image-content:not(.is-active-image):not(.is-previous) {
  z-index: -1;
}
.image-content.center{
  justify-content: center;
  align-items: center;

}

.image-content.top-center{
  justify-content: center;
  
}
.image-content.bottom-center{
  align-items: flex-end;
  justify-content: center;
}
.image-content.top-left{
}
.image-content.top-right{
  justify-content: flex-end;
}
.image-content.bottom-left{
  align-items: flex-end;
}
.image-content.bottom-right{
  align-items: flex-end;
  justify-content: flex-end;
}
.image-content.left-center{
  align-items: center;
}
.image-content.right-center{
  justify-content: flex-end;
  align-items: center;
}

.bg-desktop-horizontal-left {
  background-position-x: left;
}

.bg-desktop-horizontal-center {
  background-position-x: center;
}

.bg-desktop-horizontal-right {
  background-position-x: right;
}

.bg-desktop-vertical-top {
  background-position-y: top;
}

.bg-desktop-vertical-center {
  background-position-y: center;
}

.bg-desktop-vertical-bottom {
  background-position-y: bottom;
}

@media screen and (max-width: 600px) {
  .bg-mobile-horizontal-left {
    background-position-x: left;
  }
  
  .bg-mobile-horizontal-center {
    background-position-x: center;
  }
  
  .bg-mobile-horizontal-right {
    background-position-x: right;
  }
  
  .bg-mobile-vertical-top {
    background-position-y: top;
  }
  
  .bg-mobile-vertical-center {
    background-position-y: center;
  }
  
  .bg-mobile-vertical-bottom {
    background-position-y: bottom;
  }
}

.video-wrapper{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}


.arrow-button{
  display: flex;
  position: absolute;
  z-index: 999;
  background: none;
  border:none;
  top: 50%;
  transform: translateY(-50%);
}
.arrow-button.left{
  align-items: center;  
}
.arrow-button.right{
  align-items: center;
  right:0;
}

@media screen and (max-width: 600px) {
  .carousel-wrapper{
      width:100vw;
  }
  .control-card{
      margin:var(--dotMarginMobile)
  }
  .text{
    width: var(--mobileTextWidth);
    height: var(--mobileTextHeight);
  }
  .text-content{
    flex-direction:var(--mobile-content-direction);
  }
  .text-content.grid{
    grid-template-columns: repeat(var(--mobile-number-grid-columns), 1fr);
  }
  .text-content.flex{
    flex-direction: var(--mobile-content-direction);
  }
}